{% extends "base.html"%}

{% block content %}

<title>{{ title }}</title>

<h1>{{ title }}</h1>
<p> From Wikipedia, the free encyclopedia</p>
{% if is_old and is_old != "cur" %}
    {% set author = old_rev.author.nickname %}
    {% if is_old == "?old" %}
        <h4>This is an old revision of this page, as edited by <a href="/wiki/User:{{ author }}">{{ author }}</a> at {{ old_rev.created_at }}. It may differ significantly from the <a href="/wiki/{{ title }}">current version</a>.</h4>
    {% elif is_old == "?cur" %}
        <h4>It's a <a href="/wiki/{{ title }}">current version</a> of a page, as edited by <a href="/wiki/User:{{ author }}">{{ author }}</a> at {{ old_rev.created_at }}. The present address (URL) is a permanent link to this version.</h4>
    {% endif %}
{% endif %}

<div class="article">
    {% if answer %}
        ~hu~
    {% else %}
        <h4>The page with that name does not exist. You can <a href="/wiki/{{ title }}?action=edit">create</a> it.</h4>
    {% endif %}
</div>

{% endblock %}
