{% extends "new_base.html" %}

{% block content %}
<div class="main-content">
    <aside class="left-sidebar" style="border: 1px solid #ddd">
        <a href="/">
            <div class="logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Wikipedia-logo-v2-en.svg/892px-Wikipedia-logo-v2-en.svg.png"
                     alt="Logo">
            </div>
        </a>
        <div class="accordion">
            <details class="accordion-item" open="">
                <summary class="accordion-item-summary">Introduction</summary>
                <div class="accordion-item-content">
                    <ul>
                        <li>Definition</li>
                        <li>Purpose</li>
                        <li>Flexibility</li>
                    </ul>
                </div>
            </details>
            <details class="accordion-item" open="">
                <summary class="accordion-item-summary">Challenge</summary>
                <div class="accordion-item-content">
                    <ul>
                        <li>Income Variability</li>
                        <li>Scaling</li>
                        <li>Self-Discipline</li>
                    </ul>
                </div>
            </details>
        </div>
    </aside>

    <div class="right-content">
        <h1>{{ title }}</h1>
        <p style="font-size: 20"><i>From Wikipedia, the free encyclopedia</i></p>
        <br>
        <div class="article">
            <div class="article-content">
                <p>Учитывайте, что в источниках для искомого может использоваться немного иное написание или совсем
                    другие слова. И, наоборот, под одинаковыми или похожими словами могут подразумевать что-то совсем
                    иное. Например, одно и тоже озеро могут называть по-разному даже в современных источниках, а в одной
                    местности могут жить полные тёзки или течь реки с одинаковыми названиями.</p>
                <p>Не используйте первые попавшиеся источники: «вверху» необязательно выводится лучшее. К тому же,
                    алгоритмы поисковых систем и особенности работы баз данных таковы, что немного изменив запрос, зайдя
                    из другой точки мира или через месяц можно получить кардинально отличающиеся результаты поиска.
                    Учитывайте, что в источниках для искомого может использоваться немного иное написание или совсем
                    другие слова. И, наоборот, под одинаковыми или похожими словами могут подразумевать что-то совсем
                    иное. Например, одно и тоже озеро могут называть по-разному даже в современных источниках, а в одной
                    местности могут жить полные тёзки или течь реки с одинаковыми названиями.</p>
            </div>

            <aside class="fact-sheet">
                <h3>Lifestyle business</h3>
                <img src="https://miro.medium.com/v2/resize:fit:450/1*9dbWWY4LzLIkjEHvDf4bDQ.jpeg" width="100px">
                <h3>Facts about</h3>
                <ul>
                    <li class="fact-group">
                        <strong>Definition</strong>
                    </li>
                    <li class="fact-group">
                        <strong>Year:</strong>
                    </li>
                    <li class="fact-group">
                        <strong>Author:</strong>
                    </li>
                </ul>
            </aside>
            <div class="article-content">
        </div>
    </div>
</div>
{% endblock %}
