{% extends "index.html" %}

{% block content %}
<title>{{ title }}: revision history</title>
<h1>{{ title }}: revision history</h1>
<form action="" method="POST">
    <ul style="list-style-type:disc">
        {% for rev in revisions[::-1] %}
            <li data-revid="{{ rev_id }}" class="revision">
                <span style="background-color:{% if not rev.verified %}#fff2cc{% endif %}">
                    <input type="radio" name="first_rev" id="1_{{ loop.index }}" value="1_{{ loop.index }}">
                    <input type="radio" name="second_rev" id="2_{{ loop.index }}" value="2_{{ loop.index }}">
                    <a href="/wiki/{{ title }}?oldid={{ rev.id }}">{{ rev.created_at.strftime("%H:%M:%S, %d %b %Y") }}</a>
                    — {% if not rev.author_id %}anonymous user{% else %}<a href="/wiki/User:{{ rev.author.nickname }}">{{ rev.author.nickname }}</a>{% endif %} <i>«{{ rev.description }}»</i>
                    <br>
                </span>
            </li>
        {% endfor %}
    </ul>
    <input type="submit" style="border: 1px solid red; padding: 10px;">
</form>
{% endblock %}