{% extends "base.html" %}

{% block content %}

<title>{{ title }}</title>
    {% if is_moder %}
        <h4>As a moderator, you can verify that version of page.</h4>
    {% endif %}
<h1>{{ title }}</h1>
    {% if answer %}
        <p>Author: {{ meta_info.author }}</p>
        <p>Publication time: {{ meta_info.date }}</p>
        <p>Description: {{ meta_info.description }}</p>
    {% endif %}
    <p>Article text:</p>
<div class="article">
    {% if answer %}
        ~hu~
    {% else %}
        <h4>Revision with that ID does not exist!</h4>
    {% endif %}
</div>
    {% if is_moder %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.verify() }} {{ form.verify.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
    {% endif %}

{% endblock %}