{% extends "base.html" %}

{% block content %}
    <h1>Sign up</h1>
    <form action="" method="post">
        {{ sign_up_form.hidden_tag() }}
        <p>
            {{ sign_up_form.email.label }}<br>
            {{ sign_up_form.email(class="form-control", type="email") }}<br>
            {% for error in sign_up_form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ sign_up_form.password.label }}<br>
            {{ sign_up_form.password(class="form-control", type="password") }}<br>
            {% for error in sign_up_form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ sign_up_form.repeat_password.label }}<br>
            {{ sign_up_form.repeat_password(class="form-control", type="password") }}<br>
            {% for error in sign_up_form.repeat_password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ sign_up_form.nickname.label }}<br>
            {{ sign_up_form.nickname(class="form-control") }}<br>
            {% for error in sign_up_form.nickname.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ sign_up_form.age.label }}<br>
            {{ sign_up_form.age(class="form-control") }}<br>
            {% for error in sign_up_form.age.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ sign_up_form.description.label }}<br>
            {{ sign_up_form.description(class="form-control") }}<br>
            {% for error in sign_up_form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ sign_up_form.submit(type="submit", class="btn btn-primary") }}</p>
        <div style="color:red">{{ message }}</div>
    </form>
{% endblock %}