{% extends "base.html" %}

{% block content %}
    <h1>Log in</h1>
    <form action="" method="post">
        {{ sign_in_form.hidden_tag() }}
        <p>
            {{ sign_in_form.email.label }}<br>
            {{ sign_in_form.email(class="form-control", type="email") }}<br>
            {% for error in sign_in_form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ sign_in_form.password.label }}<br>
            {{ sign_in_form.password(class="form-control", type="password") }}<br>
            {% for error in sign_in_form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ sign_in_form.remember_me() }} {{ sign_in_form.remember_me.label }}</p>
        <p>{{ sign_in_form.submit(type="submit", class="btn btn-primary") }}</p>
        <div style="color:red">{{ message }}</div>
    </form>
{% endblock %}